%h4 
  Other Charges
%ul
  %li
    =link_to "+ add","#",:class => "add_service", :id => "serviceitemcheckinid-#{@checkin.id}"
%table{:style => "float:right"}
  %tr
    %th
    %th
    %th Date
    %th Type
    %th Room
    %th Amount
  - @checkin.service_items.each do |si|
    %tr{:id => "srow-#{si.id}"}
      %td 
        %a{:href => "#", :class => "delete_service"}
          %span{:class => "ui-icon ui-icon-close"}
      %td
        =link_to "#",:class => "li-details", :rel => "/service_items/#{si.id}", :title => "Other Charges details" do
          %span{:class => "ui-icon ui-icon-info"}

      %td= si.created_at.strftime("%Y/%m/%d")
      %td= si.service.name
      %td= si.room.number if not si.room.nil?
      %td= si.amount

  %tr
    %th{:scope => "row", :colspan => 5} Total Other Charges
    %td.charges= @checkin.service_items.sum(:amount)
