%table.roomlist{:cellspacing => 0, :style => "width: 100%"}
  - @rooms.each do |room|
    - unless room.status.nil?
      - checkin = room.current_checkin
    %tr.block{:id => "#{checkin.nil? ? '' : 'room-' + room.id.to_s  + '-checkin-' + checkin.id.to_s}"}
      %th{:scope => 'row'}= room.number
      %td
        -if checkin
          .gb
            %div{:class => "#{checkin.nil? ? 'guestbox' : 'guestbox checkedin'}"}
              .name="#{checkin.guests[0].FirstName} #{checkin.guests[0].LastName}"
          %ul.roomfunctions
            %li
              =link_to "Shift Room","#",:class => "shiftroom_link"
        -else
          .gb
          %ul.roomfunctions
            %li
              =link_to "Block Room","#"

