%table.roomlist{:cellspacing => 0}
  - @rooms.each do |room|
    - checkin = Checkin.new
    - room.line_items.each do |li|
      -if li.checkin.status.nil?
        -checkin = li.checkin
    %tr.block{:id => "#{checkin.created_at.nil? ? '' : 'room-' + room.id.to_s  + '-checkin-' + checkin.id.to_s}", :class => "#{checkin.created_at.nil? ? '' : 'checkedin'}"}
      %th{:scope => 'row'}= room.number
      %td
        -if not checkin.created_at.nil?
          .guestbox
            .name="#{checkin.guests[0].FirstName} #{checkin.guests[0].LastName}"
          %ul.checkindetails
            %li.total_charges
              Total Charges:
              %b=checkin.total_charges
            %li.payments_made
              Payments Rs:
              %b=checkin.payments.sum(:amount)
            %li.pending_charges{:style => "border-right:none"}
              Pending Rs:
              %b=checkin.pending_balance

