%table.roomlist{:cellspacing => 0, :style => "width: 100%"}
  - @rooms.each do |room|
    - unless room.status.nil?
      - if room.status.match(/check/)
        - checkin = @room_checkin[room]
        
    %tr.block{:id => "#{checkin.nil? ? '' : 'room-' + room.id.to_s  + '-checkin-' + checkin.id.to_s}"}
      %th{:scope => 'row'}= room.number
      %td
        -if checkin
          .gb
            %div{:class => "#{checkin.nil? ? 'guestbox' : 'guestbox checkedin'}"}
              .name="#{checkin.guests[0].FirstName} #{checkin.guests[0].LastName}"
          %ul.roomfunctions
            %li
              =link_to "Shift Room","#",:class => "shiftroom_link"
        -elsif not room.status.nil?
          %ul.general
            - if room.status.match(/maintenance/i)
              %li
                =image_tag "maintenance.png"
              %li.text
                %b Under Maintenance
            - elsif room.status.match(/occupied/i)
              %li
                =image_tag "staff.png"
              %li.text
                %b Occupied by Staff
          %ul.roomfunctions  
            %li
              =link_to "Unblock Room", "#", :class => "unblockroom_link", :id => "unblock-#{room.id}"
        -else
          .gb
          %ul.roomfunctions
            %li
              =link_to "Block Room","#",:class => :blockroom_link, :id => "block-#{room.id}"

