%b="Todays Checkins"
- @checkins.each do |checkin|
  -total_amount = 0
  %table{:border => 1}
    %tr
      %th Room
      %th Fromdate
      %th Todate
      %th ExtraPerson
      %th Tax
      %th Amount
    - checkin.line_items.each do |li|
      %tr
        %td= li.room.number
        %td= li.fromdate.strftime("%Y/%m/%d")
        %td= li.todate.strftime("%Y/%m/%d")
        %td= li.extraperson
        %td= li.tax.to_s + "%"
        %td= li.no_of_days.to_s
        %td= li.amount
        -total_amount += li.amount

    %tr
      %th{:colspan => 5} Rooms Total Amount : 
      %th
        %span{:class => "room_total_amount"}= total_amount

