<% if @error %>
  alert("<%= @error %>");
<%else %>
  html = "<tr id =<%= 'prow-' + @payment.id.to_s %>><td><a href='#' class='delete_payment'><span class='ui-icon ui-icon-close'></span></a></td>"
  html += "<td><%= @payment.created_at.strftime("%Y/%m/%d") %></td><td><%= @payment.description %></td><td><%= @payment.amount %></td></tr>"
trows = $('.checkout #payments table tr').length - 1
$('.checkout #payments table tr:nth-child(' + trows + ')').after(html);
newtrows = $('.checkout #payments table tr').length - 1
$('.checkout #payments table tr:nth-child(' + newtrows + ')').effect('highlight',2000);
$('.checkout #payments table tr:last td:last').html(<%= @payment.checkin.payments.sum(:amount) %>);
$('#totaldiv .payment').html(<%= @payment.checkin.payments.sum(:amount) %>)
amt = parseInt($('#totaldiv .pending').text()) - parseInt(<%= @payment.amount %>)
$('#totaldiv .pending').html(amt);
$('#totaldiv .pending').effect('hightlight',2000);
<% if @payment.checkin.pending_balance > 0 %>
  $('#pending_amount_div').html('<span style="color:red;">Amount is pending, Please add payments before proceeding!</span><br>');
  $('#checkin_status').val('<%= "Pending Amount :" + @payment.checkin.pending_balance.to_s %>');
<% else %>
  $('#pending_amount_div').html('');
<%end%>
<%end%>
$('.delete_payment').click(function(){
 $('#delete_payment_id').val($(this).parent().parent().attr('id').split('-')[1]);
 $('#delete_payment_dialog').dialog('open');
 return false;
});

$('#loading').remove();
