<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @room.number %>
</p>

<p>
  <b>Room type:</b>
  <%= @room.room_type_id %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
