<table>
  <tr>
    <td> Checkin Date:&nbsp; </td>
    <td><%= @line_item.fromdate.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <td> Checkin Time:&nbsp; </td>
    <td><%= @line_item.fromdate.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%H:%M") %></td>
  </tr>
  <% if @line_item.freez %>
    <tr>
      <td> Room Shift/Checkout Date:&nbsp; </td>
      <td><%= @line_item.todate.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%Y/%m/%d")%>   </td>
    </tr>
  <%end%>
  </tr>
</table>
<%= link_to "edit", "#", :id => "e_li_#{@line_item.id}" %>
<div id="edit_form" style="display:none">
<%=form_for @line_item, :remote => true do%>


<%end%>
</div>

