<table>
  <tr>
    <td> Checkin Date:&nbsp; </td>
    <td><%= @line_item.fromdate.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <td> Checkin Time:&nbsp; </td>
    <td><%= @line_item.fromdate.strftime("%H:%M") %></td>
  </tr>
  <% if @line_item.freez %>
    <tr>
      <td> Room Shift/Checkout Date:&nbsp; </td>
      <td><%= @line_item.todate.strftime("%Y/%m/%d")%>   </td>
    </tr>
  <%end%>
  <tr>
    <td> <%= link_to "Edit", edit_line_item_path(@line_item.id) %> </td>
    <td> <%= link_to "Delete",delete_line_item_path(@line_item.id) %></td>
  </tr>
</table>

