<table>
  <tr>
    <td> Checkin Date:&nbsp; </td>
    <td><%= @line_item.fromdate.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <td> Checkin Time:&nbsp; </td>
    <td><%= @line_item.fromdate.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%H:%M") %></td>
  </tr>
  <% if @line_item.freez %>
    <tr>
      <td> Room Shift/Checkout Date:&nbsp; </td>
      <td><%= @line_item.todate.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%Y/%m/%d")%>   </td>
    </tr>
  <%end%>
  </tr>
</table>
<%= link_to "edit", "#", :class => "show_line_item_form" %>
<script type="text/javascript">
$('#line_item_form').html('<%= escape_javascript(render :partial => "form") %>');
$('.show_line_item_form').click(function(){
$('#edit_line_item_dialog').dialog('open');
return false;
});

</script>
