-tamount = 0
/.printmsg
/  %a{:href => "#"} Print
.printdiv{:style => "width:100%;clear:both;"}
  #header{:style => "clear:both;width:100%;overflow:auto;"}
    .logo{:style => "float:left:width:70%;float:left"}
      =image_tag APP_CONFIG['hotel_logo']
     
    .omega{:style => "text-align:right;vertical-align:bottom;width:20%;float:right;"}
      %h1 Invoice
    %br
  %div
    %p.address
      =APP_CONFIG['hotel_address_line1']
      ,&nbsp;
      =APP_CONFIG['hotel_address_line2']
      ,&nbsp;
      =APP_CONFIG['hotel_address_line3']
      %br
      Email:&nbsp;
      =APP_CONFIG['hotel_email']
      ,&nbsp;
      Website:
      =APP_CONFIG['hotel_website']
      ,&nbsp;
      Phone:
      =APP_CONFIG['hotel_phone']


  #content{:style => "clear:both:width:100%"}
    .grid_12.alpha{:style => "float:left;width:40%"}
      To:
      %b= @checkin.status.nil? ? @checkin.guests[0].name : @checkin.bill_to_owner.name
      %br
      Address:
      %b= @checkin.status.nil? ? "" : @checkin.bill_to_owner.address 
      -if @checkin.bill_to_owner_type == "Company" and not @checkin.status.nil?
        %br
        Guest Name :
        %b=@checkin.guests[0].name
    .grid_6{:style => "float:right;width:30%;"}
      Invoice Date: 
      %b=Date.today
      %br
      Invoice Number:
      %b 
        =@checkin.id
    .clear{:style => "clear:both;margin:5px 0px;"}
    %table{:style => "width:100%"}
      %tr
        %th Details
        %th Amount
      %tr
        %td.checkout{:style => "border:none"}
          %h4 Room Charges:
          %table
            %tr
              %th Room
              %th Rate
              -if @checkin.discount?
                %th Discount
                %th Rate after Discount

              - if @checkin.extraperson?
                %th Extra Person
              %th Tax
              %th Total Per Day
              %th Checkin Date
              %th Checkout Date
              %th No of Days
              %th Amount
              - @checkin.line_items.each do |li|
                %tr
                  %td= li.room.number
                  %td= li.room.room_type.baserate
                  - if @checkin.discount?
                    %td= "#{(100 - (li.rate.to_f/li.room.room_type.baserate.to_f) * 100).round(2)}%"
                    %td= li.rate
                  - if @checkin.extraperson?
                    %td= li.extraperson
                  %td= li.tax.to_s + "%"
                  %td= (li.rate  + li.extraperson + ((li.rate + li.extraperson) * li.tax/100).to_i ) 
                  %td= li.fromdate.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%d-%m-%y %R")
                  %td= li.todate.nil? ? @checkin.updated_at.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%d-%m-%y %R") : li.todate.in_time_zone(APP_CONFIG['hotel_time_zone']).strftime("%d-%m-%y %R")
                  %td= li.no_of_days.to_s
                  %td= li.amount
                  -tamount += li.amount
            %tr
              - colspan = 7
              - colspan = colspan + 2 if @checkin.discount?
              - colspan = colspan + 1 if @checkin.extraperson?
              %th{:colspan => "#{colspan}"} Total 
              %td.charges= tamount
        %td{:style => "border-bottom:none"}
      %tr
        %td.right{:style => "border:none;"}
          %b Total Room Charges
        %td.right{:style => "border-left:1px solid #000;border-top:none;"}
          %b=tamount.to_f
      %tr
        %td.checkout{:style => "border-bottom:none"}
          %h4 Other Charges:
          %table
            %tr
              %th Date
              %th Type
              %th Room
              %th Amount
            - @checkin.service_items.each do |si|
              %tr
                %td= si.date.strftime("%d/%m/%y")
                %td= si.service.name
                %td= si.room.number if not si.room.nil?
                %td= si.amount
            %tr
              %th{:scope => "row", :colspan => 3} Total Other Charges
              %td.charges= @checkin.service_items.sum(:amount)
        %td{:style => "border-bottom:none"}
      %tr
        %td.right{:style => "border:none;"}
          %b Total Other Charges
        %td.right{:style => "border-left:1px solid #000;border-top:none;"}
          %b= @checkin.service_items.sum(:amount)
      %tr
        %td.right
          %b Total Charges
        %td.right{:style => "border-left:1px solid #000;border-top:none;"}
          %b= @checkin.service_items.sum(:amount) + tamount
      -if (@checkin.pending_balance > 0) 
        - if @checkin.description == "Discount : "
          %tr
            %td.right
              %b Discount
            %td.right{:style => "border-left:1px solid #000;border-top:none;"}
              %b=@checkin.total_charges - @checkin.payments.sum(:amount) 

      %tr
        %td.checkout{:style => "border-bottom:none"}
          %h4 Payments:
          %table
            %tr
              %th Date
              %th Description
              %th Amount
            -@checkin.payments.each do |p|
              %tr
                %td= p.created_at.strftime("%d/%m/%y")
                %td= p.description
                %td= p.amount
            %tr
              %th{:scope => "row", :colspan => 2} Total Payments
              %td.payment= @checkin.payments.sum(:amount)
        %td{:style => "border-bottom:none"}
      %tr
        %td.right{:style => "border:none;"}
          %b Total Payment
        %td.right{:style => "border-left:1px solid #000;border-top:none;"}
          %b= @checkin.payments.sum(:amount).to_f

      -if (@checkin.pending_balance > 0) 
        - if @checkin.description == "Bill to Company : "
          %tr
            %td.right
              %b 
                Payment to be paid by : 
                = @checkin.company.name == "None" ? @checkin.guests[0].name : @checkin.company.name
            %td.right{:style => "border-left:1px solid #000;border-top:none;"}
              %b=@checkin.pending_balance
          %tr
            %td{:colspan => 2}
              %b Total Amount in Words:
              ="Rs. " +  (@checkin.pending_balance).to_i.to_english.capitalize + " only."
        - elsif @checkin.description == "Discount : "
          %tr
            %td.right
              %b Total Pending
            %td.right{:style => "border-left:1px solid #000;border-top:none;"}
              %b 0

            
        - else
          %tr
            %td.right
              %b Total Pending
            %td.right{:style => "border-left:1px solid #000;border-top:none;"}
              %b=@checkin.pending_balance
          %tr
            %td{:colspan => 2}
              %b Total Amount in Words:
              ="Rs. " +  (@checkin.pending_balance).to_i.to_english.capitalize + " only."



    %table.signature
      %tr
        %td For Hotel Sahara
        %td 
          For 
          =@checkin.guests[0].name

          




