!!!
%html
  %head
    %title Hsahara
    = stylesheet_link_tag "960/reset"
    = stylesheet_link_tag "960/text"
    = stylesheet_link_tag "960/960"
    = stylesheet_link_tag :all
    = stylesheet_link_tag "custom-theme/jquery-ui-1.8.6.custom.css"
    = javascript_include_tag "jquery-1.4.4.min"
    = javascript_include_tag "jquery-ui-1.8.6.custom.min"
    = javascript_include_tag "http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"
    = javascript_include_tag "rails"
    = csrf_meta_tag
  %body
    = render :partial => "shared/header"
    .container_16
      = yield
    .clear
