!!!
%html
  %head
    %title Hotel Management on Rails
    = stylesheet_link_tag "960/reset"
    = stylesheet_link_tag "960/text"
    = stylesheet_link_tag "960/960"
    /= stylesheet_link_tag "style"
    = stylesheet_link_tag "user"
    = stylesheet_link_tag "css/custom-theme/jquery-ui-1.8.6.custom.css"
    = javascript_include_tag "jquery-1.4.4.min"
    = javascript_include_tag "jquery-ui-1.8.7.custom.min"
    = javascript_include_tag "rails"
    = csrf_meta_tag
    :javascript
      $(function() {
       $( "#accordion" ).accordion({
         event: "mouseover",
         autoheight: false,
         navigation: true
       });
      });
    

  %body
    %p.notice
      = notice
      -if notice
        %a{:href => "#", :class => "close_alert"}
          %span{:class => "ui-icon ui-icon-close"}
          close
        
    %p.alert
      = alert
      -if alert
        %a{:href => "#", :class => "close_alert"}
          %span{:class => "ui-icon ui-icon-close",:style => "float:left;"}
          close

    = render :partial => "shared/browser_check"
    #topbox
    .container_16
      .grid_11 
        =render :partial => "home/login"
      .grid_5
        #logo
          %small [ simple and intutive hotel management for small properties ]
        #login
          = yield
    .clear
    :javascript
      $('.close_alert').click(function () {
        $(this).parent().slideUp('slow');
        return false;
      });

