!!!
%html
  %head
    %title Hotel Management on Rails
    = stylesheet_link_tag "960/reset"
    = stylesheet_link_tag "960/text"
    = stylesheet_link_tag "960/960"
    /= stylesheet_link_tag "style"
    = stylesheet_link_tag "user"
    = stylesheet_link_tag "css/custom-theme/jquery-ui-1.8.6.custom.css"
    = javascript_include_tag "jquery-1.4.4.min"
    = javascript_include_tag "jquery-ui-1.8.6.custom.min"
    = javascript_include_tag "rails"
    = csrf_meta_tag
    :javascript
      $(function() {
       $( "#accordion" ).accordion({
         event: "mouseover",
         autoheight: false,
         navigation: true
       });
      });
    

  %body
    = render :partial => "shared/notice"
    = render :partial => "shared/browser_check"
    .container_16{:style => "margin-top:80px;"}
      .grid_11 
        =render :partial => "home/intro"
      .grid_5
        #logo
          %small [ simple and intutive hotel management for small properties ]
        #login
          =yield 
    .clear
    

